@import '~assets/scss/_variables.scss';

.media-body h2, .media-body h3 {
        margin: 0px;
}
.media-body h2{
    padding-bottom: 5px;
}
.media-body h3{
        font-weight: 400;
        font-size: 13px;
}
.media-body h3 strong{
        font-weight: 600;
}

.patient-name-circle {
        margin-right: 20px;
        @media  screen and (min-width : 200px){
                width: $dashboard-header-profile-avatar-size-min;
                height: $dashboard-header-profile-avatar-size-min;
        }

        @media  screen and (min-width : 500px){
                width:  $dashboard-header-profile-avatar-size-mid;
                height:  $dashboard-header-profile-avatar-size-mid;
        }

        @media  screen  and (min-width : 1024px){
                width:  $dashboard-header-profile-avatar-size-max;
                height:  $dashboard-header-profile-avatar-size-max;
        }
        
        background-color: $dashboard-header-profile-avatar-background;
        border-radius: $dashboard-header-profile-avatar-border-radius;
        display: inline-block;
        text-transform: uppercase;
        .patient-name {
                @media  screen and (min-width : 200px){
                        padding: 13px 10px;
                        font-size: $dashboard-header-profile-avatar-text-font-size;
                }

                @media  screen and (min-width : 500px){
                        padding: 14px 10px;
                        font-size: 26px;
                }

                @media  screen  and (min-width : 1024px){
                        padding: 23px 10px;
                        font-size: 38px;
                }
                display: block;
                text-align: center;
                font-size: $dashboard-header-profile-avatar-text-font-size;
                color: $dashboard-header-profile-avatar-text-color;
                text-transform: uppercase;
        }
}
.address-line-height{
    line-height: 1.4;
}