<div class="row">
  <div class="col-lg-12">
    <app-ibox-container>
      <app-ibox-header [cardName]="searchBoxTitle"></app-ibox-header>
      <app-ibox-content>
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-xs-12" *ngIf="hideShowCheckboxForMyCarePlans">
            <app-check-box [hidden]="false" [checkChecked]="showMyProgramsFlag" (checkedOrnot)="changeMyProgramsToAllPrograms($event)">
            </app-check-box>
            <span><strong>View My Care Plans Only</strong></span>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <!--<app-check-box [hidden]="false" [checkChecked]="false" (checkedOrnot)="changePrivilege($event,check.action_id,a.feature_id)">
            </app-check-box>
            <span><strong>View Inactive Care Plans</strong></span>-->
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 pull-right search-patient-overflow">
            <div class="input-group"><input type="text" [(ngModel)]="searchParticipantText" placeholder="Search Care Plans..." class="form-control"
                (keyup)='updateFilter($event)'>
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </div>
        </div>
      </app-ibox-content>
    </app-ibox-container>
  </div>
  <div #carePlanRowContainer class="row">
    <div class="col-lg-12">
      <app-progress-spinner [isRunning]="isDataLoading"></app-progress-spinner>
      <div class="text-center" *ngIf="noDataFlag">
        <h2>No Data Available</h2>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12" *ngFor="let carePlan of listOfCarePlans">
        <app-ibox-container>
          <app-ibox-header [cardName]="carePlan.program_name"></app-ibox-header>
          <app-ibox-content [styleClassForContent]="PaddingBottom">
            <p class="program-desc" [innerHTML]="carePlan?.program_details">
            </p>
            <p><strong>Duration: {{carePlan.duration}} days </strong></p>
            <p><span><strong>Status:</strong></span></p>
            <div class="row border-bottom m-b">
              <div class="col-xs-4 " [ngClass]="{'adjust-no-padding' : isTaskOpenCarePlan}">
                <a class="text-primary" [routerLink]="['/home/carePlan/carePlanPatientsDetails/',carePlan.program_ref_no,'CarePlan', {enrollmentStatus: 'Enrolled'}]"
                  (click)="setData(carePlan)">
                  <app-count-box [displayText]="displayTextEnrolled" [countValue]="carePlan.enrolled == null ? 0:carePlan.enrolled" [headingTextForBox]=""
                    [colorOfBoxText]="colorOfBoxTextEnrolled" [colorOfBox]="colorOfBoxWhite" [borderOfBox]="borderOfBox"></app-count-box>
                </a>
              </div>
              <!--As per MCH requirement commenting unassigned term in application-->
              <!--<div class="col-xs-4 text-center m-b-sm border-right adjust-no-padding">
                <a class="text-primary" [routerLink]="['/home/carePlan/carePlanPatientsDetails/',carePlan.program_ref_no,'CarePlan', {enrollmentStatus: 'Unassigned'}]" (click)="setData(carePlan)">
                  <app-count-box [displayText]="displayTextUnassigned" [countValue]="carePlan.unassigned ==null ? 0: carePlan.unassigned" 
                    [headingTextForBox]="" [colorOfBoxText] = "colorOfBoxTextCompleted" [colorOfBox]="colorOfBoxWhite" [borderOfBox]="borderOfBox"></app-count-box>
                </a>  
              </div>-->
              <div class="col-xs-4 text-center m-b-sm adjust-no-padding">
                <a class="text-primary" [routerLink]="['/home/carePlan/carePlanPatientsDetails/',carePlan.program_ref_no,'CarePlan', {enrollmentStatus:'Invited'}]"
                  (click)="setData(carePlan)">
                  <app-count-box [displayText]="displayTextInvited" [countValue]="carePlan.invited ==null ? 0: carePlan.invited" [colorOfBoxText]="colorOfBoxTextCompleted"
                    [colorOfBox]="colorOfBoxWhite" [borderOfBox]="borderOfBox" [headingTextForBox]=""></app-count-box>
                </a>
              </div>
              <!--As per MCH requirement uncommenting critical term in application :changed on 16-08-2017-->
              <div class="col-xs-4 text-right adjust-no-padding">
                <a class="text-primary" [routerLink]="['/home/carePlan/carePlanPatientsDetails/',carePlan.program_ref_no,'CarePlan', {criticalStatus: 'Critical'}]"
                  (click)="setData(carePlan)">
                  <app-count-box [displayText]="displayTextCritical" [countValue]="carePlan.critical== null? 0: carePlan.critical" [headingTextForBox]=""
                    [colorOfBoxText]="colorOfBoxTextCritical" [colorOfBox]="colorOfBoxWhite" [borderOfBox]="borderOfBox"></app-count-box>
                </a>
              </div>
            </div>

            <div class="contact-box-footer text-center">
              <a class="text-primary" [routerLink]="['/home/carePlan/carePlanDetails/',carePlan.program_ref_no,carePlan.program_name,'CarePlan']"><button type="button" class="btn btn-default w-200 m-b-none">View Details</button></a>
            </div>
          </app-ibox-content>
        </app-ibox-container>
      </div>
    </div>
  </div>
</div>