div{
   label{
    float: left;
} 
} 
.pwd-left{
    text-align: left;
}

label.error{
    position: absolute;
    left:0px;
    text-align: left;
}

.form-element-left{
    position: absolute;
    left:0px;
    text-align: left;
}

html, body{
    background: red;
}