.roleContant-box{
    background-color: #ffffff;
    color: inherit;
    border-color: #e7eaec;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.role-list{
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    label{
        margin-bottom: 0px;
    }
}

.btn-w-s{
    width:100px;
}

.modal-footer{
    padding-right: 0px;
}
.my-class{
  background: red;
}

.pad-T22{
    padding-top: 22px
}
