<div class="inmodal">
  <div class="modal-content">
    <div class="modal-header">
      <a class="close p-b-sm"></a>
      <h1 class="modal-title">Privacy Policy</h1>
    </div>
    <div class="modal-body">
      <p>Privacy Policy</p><br>
      <p>Last updated: February 12th 2016</p>
      <br>
      <p>Veta Health seeks to become the most effective platform for doctors to provide better quality care to each and every
        patient and the most trusted partner for patients to manage all aspects of their health across the continuum of care.</p>
      <br>

      <p>For <b>consumers</b>, Veta Health provides you with access to your health data, along with interpretation and analytics
        tools to help you understand and actively participate in your personal health management.</p>
      <br>
      <p>For <b>physicians/</b>, Veta Health provides a platform to facilitate care coordination through data sharing and to
        enable remote patient monitoring for improved patient management and engagement.</p>
      <br>
      <p>For <b>health organizations</b>, Veta Health offers the tools necessary to streamline workflows and care coordination
        along with the ability to measure system wide performance to improve care efficiency and outcomes.</p>
      <br>
      <p>Veta Health, LLC takes your privacy very seriously and knows that you care about the use and sharing of your personal
        information. We have developed this privacy policy for you to understand how we collect, use, communicate and disclose
        your personal information.
      </p>
      <br>
      <p>The privacy policy applies to our website (<a href="https://myvetahealth.com/" target="_blank" class="footerlink"> www.myvetahealth.com</a>),
        domain name and health platforms and any other linked pages, features, contents, applications or services we may
        offer from time to time <b>(“Health Services,” “Company,” “Us” and “We”)</b>.</p>
      <br>
      <p>What Information Do We Gather?</p>
      <br>
      <p>What Do We Do With the Information We Collect?</p>
      <br>
      <p>Who Can Use the Information We Collect and How?</p>
      <br>
      <p>How Do We Protect the Personal Information We Collect?</p>
      <br>
      <p>How Do You Opt-out of Personal Information Sharing with Our Business Partners?</p>
      <br>
      <p>How Do You Correct and Update Your Personal Information?</p>
      <br>
      <p>What is Our Privacy Policy If You Are Under 13 Years of Age?</p>
      <br>
      <p>What Happens When You Link to a Third-Party Web Site?</p>
      <br>
      <p>What Happens When We Update Our Privacy Policy?</p>
      <br>
      <p>What Happens If We Sell Our Business?</p>
      <br>
      <p>Your California Privacy Rights</p>
      <br>
      <p>Your International Privacy Rights</p>
      <br>
      <p>What If You Have Questions?</p>
      <br>
      <p><b>1.What Information Do We Gather?</b></p>
      <br>
      <p>In order for Veta Health to help you become an active participant of your health management, we need to collect certain
        information about you, whenever you interact with our sites and/or use our services. This information includes your
        personal information.
        <b>“Personal information’’</b> refers to information about you that alone or in combination with other information
        may be used to readily identify, locate, or contact a specific person and includes: full name, address, phone numbers,
        email address, medical records or other health data, insurance information, financial and/or payment information
        (if applicable). The information we gather from our customers allows us to personalize and improve our services.
        The information we gather may include, but is not limited to:</p>
      <ul class="font-bold">
        <li>Name</li>
        <li>Contact information including email address and cell phone number</li>
        <li>Demographic information including message code, product preferences and interests</li>
        <li>Internet Protocol (“IP”) Address and other persistent identifiers</li>
        <li>Other information relevant to customer surveys and offers</li>
        <li>If you become a registered user or if you conduct transactions through this website, we will collect information
          about the transactions you engage in while on the website and your other activity on the site. This information
          may include, without limitation, areas of the website that you visit, transaction type, content that you view,
          download or submit, transaction amount, payment, and billing information as well as the individuals or entities
          with whom you communicate or transact business.</li>
      </ul>
      <br>
      <p>Some of this information, including name and contact information, will only be collected if you voluntarily provide
        it during the user registration process and as you enter information on our site and/or create a Veta Health account
        and build your personal profile. Contingent upon your and your care provider’s consent, we will also collect information
        directly from your personal health record to build your health profile. From time to time, we may use or augment
        your personal information with information obtained from third parties. For example, we may use the third party information
        to confirm contact or financial information, verify eligibility or to better understand your interests based on demographic
        information. If you choose to link your Veta Health account to other devices or services, such as calendars, smart
        devices, wearables, or other health monitoring devices, we may collect information to your use of such services or
        devices. If these services or devices are administered by a third party, the applicable information practices are
        the responsibility of that third party
      </p>
      <br>
      <p>We may also track information such as the domain name and the name of the web page from which you entered our Site,
        and how much time you spend on each of our pages. We collect information that is combined with other web visitors’
        information, such as how many times visitors click on each web page and the methods by which our Site was found.
        We may collect IP addresses and website usage information from you when you visit our Site via the use of “cookies.”
        An IP address is a number that is assigned to your computer when you are using your browser on the Internet.</p>
      <br>
      <p>A cookie is a small file that is stored on the hard drive of your computer ready for future access when you return
        to our Site. We use cookies to deliver web content specific to you and to keep track of your online order activity.
        Cookies cannot pass viruses, harm your computer or pass on private information such as an email address without the
        computer user’s intervention. Cookies contain session identification numbers that allow our systems to recall previous
        sessions for authentication efforts and assemble information from our gathered data. You can configure your computer’s
        browser to alert you when a site is attempting to send you a cookie and allow you to accept or refuse the cookie.
        Further information on how to prevent cookies from being stored on your device can be found <a href="http://www.allaboutcookies.org/"
          target="_blank" class="footerlink">here</a> under the ‘manage cookies’ section. Alternatively, you can access further
        information by going to the help menu within your internet browser. To opt out of being tracked by Google Analytics
        across all websites click <a href="https://tools.google.com/dlpage/gaoptout" target="_blank" class="footerlink">here</a>.</p>
      <br>
      <p><b>2. What Do We Do With the Personal Information We Collect?</b></p>
      <br>
      <p>You will be asked to provide personal information in certain fields on this Site that allow you to be able to use our
        Services. The personal information we collect is used only for the purpose we state at the time of collection or
        for purposes contained below. For example, our uses may include, but are not limited to, the following:</p>
      <ul class="font-bold">
        <li>We may use your email address to contact you about new features on the Site, or to provide you with other information
          that is relevant to your use of the Site.</li>
        <li>We may use your information for internal record keeping purposes related to purchases and transactions.</li>
        <li>We or our affiliates may periodically send you promotional emails about new products, special offers or other information
          which we believe may be of interest using the email address provided.</li>
        <li>We may also communicate with you through our Veta Health platform or other means enabled by the Veta Health services,
          such as text messages, push-notifications, or in-app messaging.</li>
        <li>From time to time, we may also use your information to contact you for market research purposes. We may contact you
          by email, phone, fax or mail.</li>
        <li>We may use your information to customize the website according to your interests.</li>
        <li>We may aggregate or de-identify data collected through the Veta Health services and use it for any purpose</li>
        <li>We may disclose your information to implement and enforce our Terms of Use.</li>
        <li>We may disclose your information to respond to subpoenas, judicial processes, or government requests or investigations.</li>
        <li>We may use your information to protect the security of our Services, servers, network systems and databases or to
          protect our users and affiliates against liability or harm.</li>
      </ul>
      <br>
      <p>
        o the extent that we collect certain demographic information about you, we may use this information in our market research,
        but we will do so only after we “anonymize” the data, i.e., remove information that would confirm your identity.
        We will not use your personally identifiable information, however, to send commercial or marketing messages to you
        unless we have your continued consent for which you will have the ability to opt out by sending an email to
        <a href="mailto:admin@myvetahealth.com" class="footerlink">admin@myvetahealth.com</a>.

      </p>
      <br>
      <p>
        If you choose to allow Veta Health to share information with others, we may also use your personal information to communicate
        with others at your request. You can adjust your communication preferences in your Veta Health account settings or
        by unsubscribing to our marketing emails.
      </p>
      <br>
      <p>We may also use the information you share or we receive from others, to conduct research and organize/analyze your
        health information to provide you with a customized and beneficial Veta Health experience.</p>
      <p>This Site does not collect personally identifiable information when you browse the Site and request pages from our
        servers unless you voluntarily and knowingly provide such information to us. This means that we will not know your
        name, your email address, or any other personally identifiable information just because you browse the Site unless
        you:
      </p>
      <ul class="font-bold">
        <li>access the Site from a link in an email that we have sent to you;</li>
        <li>access the Site or provide information and data from a device you have approved to communicate with your account;
          or
        </li>
        <li>have created a profile and you either log-in to your account or choose to be remembered via your cookie or your web-enabled
          mobile device.</li>
      </ul>
      <br>
      <p>In these cases we will know who you are based on the information you previously supplied to us. When you request a
        page from our Site, our servers log the information provided in the HTTP request header including the IP number,
        the time of the request, the URL of your request and other information that is provided in the HTTP header. We collect
        the HTTP request header information in order to make our Site function correctly and provide you the functionality
        that you expect to see. We also use this information to personalize content presented to you, better understand how
        visitors use our Site and how we can better tune it, its contents, and functionality to meet your needs. We only
        use your personally identifiable information for those activities listed at the time you submit your information
        to us. For example, if you provide us with an email to inform you of special events, then that is what we will use
        your email address to do. If we would like to use your personally identifiable information for an unrelated activity,
        we will first request your consent to do so.</p>
      <p><b>3. Who Can Use the Information We Collect and How?</b></p>
      <br>
      <p>We may provide your information to third parties, or third parties may collect information from you on our behalf if
        we have contracted with that third party to provide some part of the information or service that you have requested.
        Other than those who act on our behalf and except as explained in this Policy, information you provide at this Site
        will not be transferred to unrelated third parties, unless we have your permission to do so. However, please note
        that personal information provided to this Site is subject to disclosure pursuant to judicial or other government
        subpoenas, warrants or orders. We will only provide this information after approximately two weeks following receipt
        of a valid subpoena or other legal process in a civil case.</p>
      <p>We will not rent, sell, or share your personal information with other people or non-affiliated companies for their
        direct marketing purposes, except to provide services, or when we otherwise have your permission. We may share aggregate
        or de-identified data with third parties for any purpose.</p>
      <p>We may share information, including your personal information with your permission or when you add a family member
        or caregiver to your account. We may also employ other companies and service providers to perform tasks on our behalf
        and need to provide any information to them. These companies are authorized to use your personal information only
        as necessary to provide the services to us. We may access, preserve and disclose your personal or account information
        and content if we deem it required or appropriate to comply with law enforcement requests and legal process or to
        protect the rights, property and safety of you, Veta Health, or others.</p>
      <br>
      <p><b>4. How Do We Protect the Personal Information We Collect?</b></p>
      <br>
      <p>Your privacy and the security of your personal information are important to us. We maintain and protect the security
        of our servers and your personal information. To secure the information we collect online, prevent unauthorized access,
        maintain data accuracy and ensure only appropriate use of information, we have established appropriate physical,
        electronic and management safeguards. We require user names and passwords to access sensitive data. Unless you authorize
        un-encrypted transmission, we will use industry standard encryption methods to protect your data transmission.</p>
      <p><b>5. How Do You Opt-out of Personal Information Sharing with Our Business Partners?</b></p>
      <br>
      <p>We may use third party analytics vendors to evaluate and provide us with information about the use of our Services
        and viewing of our content. Some of the information you see on our Sites may be customized based on automated predictions
        about your interests, which predictions are generated from your visits over time and across different websites, using
        tools such as Google Analytics. This information allows us to create content of greater interest to you and can also
        be used to serve ads based on your past visits to our Sites. Note that you can opt out of a third-party vendor’s
        use of cookies, including use by Google, by visiting the Network Advertising Initiative opt-out <a href="http://www.networkadvertising.org/choices/"
          target="_blank" class="footerlink">page</a>.</p>
      <br>
      <p>For more information about how targeted Network Advertising works, please visit click <a href="http://youradchoices.com/"
          target="_blank" class="footerlink">here</a> or <a href="http://www.networkadvertising.org/understanding-online-advertising"
          target="_blank" class="footerlink">here</a>.</p>
      <br>
      <p>You may opt-out of third party targeted advertising or analytics in two ways: 1) By directly notifying a Network Advertising
        service provider via its opt-out tools (Please see above) or 2) using your browser’s Do Not Track (DNT) settings
        to indicate that you do not wish to receive targeted advertising based on your overall internet usage. For more information
        about DNT and how it works, please visit the Future of Privacy Forum’s <a href="https://allaboutdnt.com/" target="_blank"
          class="footerlink">website</a>.</p>
      <p>We will make a good faith reasonable effort to honor your DNT browser settings for opting out of receiving targeted
        third party advertising based on your overall Internet usage. Please note that various browsers frequently update
        technology or change their settings and business practices without advance notice, and we may not have the latest
        information on how to honor your preferences. If you exercise either opt-out option – the cookie opt-out or the browser
        opt-out – you will continue to receive advertising, but such advertising may not relate to your specific interests,
        previous purchases or search history.</p>
      <br>
      <p>However, you cannot opt-out of our contextual analytics and advertising, which is based on your usage of only our Services.
        We will continue to serve you contextual advertising. We will also continue to monitor your usage and search or transaction
        history to provide us with analytics on how well our Services, features and activities are functioning and used.
        We will also share this information in an aggregated form (meaning that no one individual person can be identified)
        within our company.
      </p>
      <p>You can also opt out of our marketing emails at any time by contacting us at <a href="mailto:hello@myvetahealth.com"
          class="footerlink">hello@myvetahealth.com</a>.</p>
      <br>
      <p><b>6. How Do You Correct and Update Your Personal Information?</b></p>
      <br>
      <p>You can change or correct your account information at any time. Just send an email with your old information and your
        corrections to <a href="mailto:admin@myvetahealth.com" class="footerlink">admin@myvetahealth.com</a> with “Correction”
        in the subject line.
      </p>
      <p><b>7. What is Our Privacy Policy If You Are Under 13 Years of Age?</b></p>
      <br>
      <p>We understand the importance of protecting the privacy of all individuals, especially the very young. Our services
        are intended for United States audiences over the age of 18. We neither target nor sell our products to children
        under the age of 13, and we do not knowingly collect personal information from them. Subscribing to our online service
        is restricted to adults who are either 18 years of age or older or as otherwise legally defined.</p>
      <p><b>8. What Happens When You Link to a Third-Party Web Site?</b></p>
      <br>
      <p>If you click on a link and go to another site, you will be subject to that website’s privacy policy. If we conduct
        business with that website such that we need to exchange personally identifiable information, we will make sure that
        the business has a privacy policy just as protective as ours. We encourage you to read the messaged privacy policy
        statement at any website before submitting any personal information at all.</p>
      <p><b>9. What Happens When We Update Our Privacy Policy?</b></p>
      <br>
      <p>We may on occasion update our Policy. Your acceptance of any minor changes to this Policy is indicated by your continued
        use of our Services. If we make any material changes to our Policy, we will message a notice about the change at
        a prominent location on our Site. We encourage you to periodically review our Site and this Policy for any changes.</p>
      <br>
      <p><b>10. What Happens If We Sell Our Business?</b></p>
      <br>
      <p>While we do not anticipate it, every business nowadays should plan for the possibility that it might sell certain or
        all of its assets to another company or individual, or that it might buy certain assets of another company or individual.
        If all or part of the company is sold, merged or otherwise transferred to another entity, the personal information
        you have provided to us may be transferred as part of that transaction. However, we will take steps to ensure that
        your personal information is used in a manner consistent with the provisions of our Policy.</p>
      <p><b>11. Your California Privacy Rights</b></p>
      <br>
      <p>If you are a California resident and have an established business relationship with us and want to receive information
        about how to exercise your third party disclosure choices, you must send a request to the following address with
        a preference on how our response to your request should be sent. You may contact us by sending an email to <a href="mailto:admin@myvetahealth.com"
          class="footerlink">admin@myvetahealth.com</a></p>
      <br>
      <p><b>For requests sent via email, you must put the statement “Your California Privacy Rights” in the subject field of your email.</b>        For all requests, please include your name, street address, city, state, and zip code. (Your street address is optional
        if you wish to receive a response to your request via email. Please include your zip code for our own record keeping.)<b> We will not accept requests via the telephone or by facsimile.</b>        We are not responsible for responding to notices that are not labeled or not sent properly, or do not have complete
        information.
      </p>
      <p>If you are a California resident under the age of 18, and a registered user of any site where this policy is messaged,
        California Business and Professions Code Section 22581 permits you request and obtain removal of content or information
        you have publicly messaged. To make such a request, please send an email with a detailed description of the specific
        content or information to <a href="mailto:admin@myvetahealth.com" class="footerlink">admin@myvetahealth.com</a>.
        Please be aware that such a request does not ensure complete or comprehensive removal of the content or information
        you have messaged and that there may be circumstances in which the law does not require or allow removal even if
        requested.
      </p>
      <br>
      <p><b>12. Your International Privacy Rights</b></p>
      <br>
      <p>Veta Health is located in the United States. By choosing to use the Veta Health Site and services, you agree that any
        dispute over privacy or the terms contained in this privacy policy will be governed by US laws. If you are visiting
        or using the Veta Health services from the European Union or other regions with laws governing data collection and
        use, please note that you are agreeing to the transfer of your information to the United States and to processing
        globally. By providing your information, you consent to any transfer and processing in accordance with this privacy
        policy.
      </p>
      <p><b>13. What If You Have Questions?</b></p>
      <br>
      <p>If you have questions or concerns regarding this statement, you should first contact us via email at <a href="mailto:admin@myvetahealth.com"
          class="footerlink">admin@myvetahealth.com</a>.</p>
      <br>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-white btn-w-s" (click)="closePnPModal()">Close</button>
    </div>
  </div>
</div>