
// CSS for the new messaging UI
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";
@mixin font-bold {
    font-weight: 600;
}

@mixin font {
    font-weight: 400;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

$white: #fff;
$black: #000;
$bg: #f8f8f8;
$grey: #999;
$dark: #1a1a1a;
$light: #e6e6e6;
$wrapper: 100%;
$blue: #23c6c8;
@media (max-width:770px) and (min-width:641px) {
    .left {
        .people {
            .person {
                height: 70px;
            }
        }
    }
}

.left-show {
    display: block !important;
}

.display-userlist-icon {
    display: none;
}

@media (max-width:640px) {
    .left {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 9999;
        margin: 0px;
        padding: 0px;
        width: 100% !important;
    }
    .right {
        width: 100% !important;
    }
    .display-userlist-icon {
        display: block;
    }
    .chat-container .right .write{
        margin-bottom: 15px;
    }
}

.wrapper {
    position: relative;
    left: 50%;
    width: $wrapper;
    // height: 800px;
    transform: translate(-50%, 0);
}

.chat-container {
    position: relative;
    top: 38%;
    left: 50%;
    width: 100%;
    // height: 75%;
    background-color: $white;
    transform: translate(-50%, -50%);
    .left {
        float: left;
        width: 37.6%;
        // height: 100%;
        border: 1px solid $light;
        background-color: $white;
        .top {
            position: relative;
            width: 100%;
            // height: 96px;
            padding: 20px;
            &:after {
                position: absolute;
                bottom: 0;
                left: 50%;
                display: block;
                width: 80%;
                height: 1px;
                content: '';
                background-color: $light;
                transform: translate(-50%, 0);
            }
        }
        input {
            float: left;
            width: 100%;
            height: 42px;
            padding: 0 15px;
            border: 1px solid $light;
            background-color: #eceff1;
            border-radius: 21px;
            @include font();
            &:focus {
                outline: none;
            }
        }
        a.search {
            display: block;
            float: left;
            width: 42px;
            height: 42px;
            margin-left: 10px;
            border: 1px solid $light;
            background-color: $blue;
            background-image: url('https://s11.postimg.org/dpuahewmn/name_type.png');
            background-repeat: no-repeat;
            background-position: top 12px left 14px;
            border-radius: 50%;
        }
        .ppl_box{
            overflow-y: auto;
            height: 72vh;
        }
        .people {
            margin-left: -1px;
            border-right: 1px solid $light;
            border-left: 1px solid $light;
            // width: calc(100% + 2px);
            // overflow-y: auto;
            // height: 50vh;
            .person {
                position: relative;
                width: 100%;
                padding: 12px 10% 16px;
                cursor: pointer;
                background-color: $white;
                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    display: block;
                    width: 80%;
                    height: 1px;
                    content: '';
                    background-color: $light;
                    transform: translate(-50%, 0);
                }
                img {
                    float: left;
                    width: 40px;
                    height: 40px;
                    margin-right: 12px;
                    border-radius: 50%;
                }
                .name {
                    font-size: 14px;
                    line-height: 22px;
                    color: $dark;
                    @include font-bold;
                    width: calc(100% - 150px);
                    display: inline-block;
                    text-transform: capitalize;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap; 
                }
                .time {
                    font-size: 13px;
                    position: absolute;
                    top: 14px;
                    right: 10%;
                    padding: 0 0 5px 5px;
                    color: $grey;
                    background-color: $white;
                }
                .preview {
                    font-size: 14px;
                    display: inline-block;
                    overflow: hidden !important;
                    width: 70%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: $grey;
                }
                &.active{
                    margin-top: -1px;
                    margin-left: -1px;
                    padding-top: 13px;
                    border: 0;
                    background-color: rgba(102,102,102,0.7); // width: calc(100% + 2px);
                    padding-left: calc(10% + 1px);
                    span {
                        color: $white;
                        background: transparent;
                    }
                    &:after {
                        display: none;
                    }
                }
                &:hover {
                    margin-top: -1px;
                    margin-left: -1px;
                    padding-top: 13px;
                    border: 0;
                    background-color: rgba(102,102,102,0.7); // width: calc(100% + 2px); $blue
                    padding-left: calc(10% + 1px);
                    span {
                        color: $white;
                        background: transparent;
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    .right {
        position: relative;
        float: left;
        width: 62.4%;
        height: 100%;
        .top {
            width: 100%;
            // height: 65vh;
            // height: 47px;
            background-color: #fff;
            .topbar-padding{
                padding: 15px;
                background: #eceff1;
            }
            span {
                font-size: 15px;
                color: $grey;
                .name {
                    color: $dark;
                    text-transform: capitalize;
                    @include font-bold;
                }
            }
        }
        .chat-height {
            height: 67vh;
            overflow: auto;
            // top: 12px;
            width: 100%;
            position: relative;
            .chat {
                position: relative; // display: none;
                overflow: hidden; // padding: 0 35px 92px;
                // border-width: 1px 1px 1px 0;
                // border-style: solid;
                border-color: $light; // height: calc(100% - 48px);
                justify-content: flex-end;
                flex-direction: column;
                &.active-chat {
                    display: block;
                    display: flex;
                    .bubble {
                        @include transition-timing-function(cubic-bezier(.4, -.04, 1, 1));
                        @for $i from 1 through 10 {
                            &:nth-of-type(#{$i}) {
                                @include animation-duration(.15s *$i);
                            }
                        }
                    }
                }
            }
        }
        .write {
            position: absolute;
            background: #fff;
            // bottom: 0px;
            left: 0px;
            height: 66px;
            padding-left: 8px; // border: 1px solid $light;
            // background-color: #eceff1;
            width: calc(100% - 0px);
            // border-radius: 5px;
            input {
                font-size: 16px;
                float: left;
                width: 67%;
                height: 40px;
                padding: 0 10px;
                color: $dark;
                border: 0;
                outline: none;
                background-color: #eceff1;
                @include font;
            }
            .write-link {
                &.attach {
                    &:before {
                        display: inline-block;
                        float: left;
                        width: 20px;
                        height: 42px;
                        content: '';
                        background-image: url('https://s1.postimg.org/s5gfy283f/attachemnt.png');
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                &.send {
                    &:before {
                        display: inline-block;
                        float: right;
                        width: 20px;
                        height: 42px;
                        margin-right: 11px;
                        content: '';
                        background-image: url('https://s30.postimg.org/nz9dho0pp/send.png');
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
        .bubble {
            font-size: 16px;
            position: relative;
            display: inline-block;
            clear: both;
            margin-bottom: 8px;
            padding: 13px 14px;
            vertical-align: top;
            border-radius: 5px;
            &:before {
                position: absolute;
                top: 19px;
                display: block;
                width: 8px;
                height: 6px;
                content: '\00a0';
                transform: rotate(29deg) skew(-35deg);
            }
            &.you {
                float: left;
                color: $white;
                margin-left:5px;
                margin-right: 10%;
                background-color: $blue;
                align-self: flex-start;
                @include animation-name(slideFromLeft);
                // &:before {
                //      left: -3px;
                //      background-color: $blue;
                // }
            }
            &.me {
                float: right;
                color: $dark;
                margin-right:5px;
                margin-left: 10%;
                background-color: #eceff1;
                align-self: flex-end;
                @include animation-name(slideFromRight);
                // &:before {
                //      right: -3px;
                //      background-color: #eceff1;
                // }
            }
        }
        .conversation-start {
            position: relative;
            width: 100%;
            margin-bottom: 27px;
            text-align: center;
            span {
                font-size: 14px;
                display: inline-block;
                color: $grey;
                &:before,
                &:after {
                    position: absolute;
                    top: 10px;
                    display: inline-block;
                    width: 35%;
                    height: 1px;
                    content: '';
                    background-color: $light;
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
            }
        }
    }
}

@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

@keyframes collapseUserList {
    0% {
        width: 100% !important;
    }
    100% {
        width: 0% !important;
    }
}

@-webkit-keyframes collapseUserList {
    0% {
        width: 100% !important;
    }
    100% {
        width: 0% !important;
    }
}

.text-area-width {
    width: calc(100% - 65px);
    margin-left:10px;
}

.load-more {
    background: lightgray;
}

.input-text-area {
    height: inherit;
}

.highlight {
    background: $blue;
}