<div class="inmodal">
  <div class="modal-content">
    <div class="modal-header">
      <a class="close p-b-sm"></a>
      <h1 class="modal-title">TERMS OF SERVICE</h1>
    </div>
    <div class="modal-body">
      <p class="font-bold">TERMS OF SERVICE</p>
      <p>
        PLEASE READ THESE TERMS CAREFULLY. YOUR USE AND INTERACTION WITH OUR WEBSITE, PORTAL AND/OR SERVICES INDICATE THAT YOU ACCEPT
        THESE TERMS. IF YOU DO NOT ACCEPT THESE TERMS OF USE, DO NOT USE THIS SITE OR OUR SERVICE.
      </p>
      <p>TERMS OF SERVICE</p>
      <div class="font-bold">
        Use of Site and/or Service<br> Registration Requirements<br> Account Responsibility<br> Privacy and Release of Information<br>      Health Content and Usage<br> Member Conduct<br> Content
        <br> Site Security and Conduct<br> System and Network Security<br> Intellectual Property Rights<br> Notification of
        Claims of Infringement<br> Representations
        <br> Disclaimer of Warranty<br> Links to Other Website<br> Indemnity
        <br> Limitation of Liability<br> Consequences of Violation of Terms<br>
      </div><br>
      <b>Use of Site and/or Service.</b> This Website and Portal (“Site”) and the services provided (“Service”) are maintained
      and operated by Veta Health LLC (“us,” “we,” “our,” or “Company”) a Florida limited liability company. Veta Health
      has one goal: to become the most effective platform for doctors to provide better quality care to each and every patient
      and the most trusted partner for patients to manage all aspects of their health across the continuum of care.
      <br><br> For <b>consumers</b>,
      Veta Health provides you with access to your health data, along with interpretation and analytics tools to help you
      understand and actively participate in your personal health management. 
      <br><br>For <b>physicians</b>, Veta Health provides
      a platform to facilitate care coordination through data sharing and to enable remote patient monitoring for improved
      patient management and engagement.
      <br><br>
      <p>
      <b>For health organizations</b>,
       Veta Health offers the tools necessary to streamline workflows and care coordination along with the ability to measure
        system wide performance to improve care efficiency and outcomes. Thus, we offer this Site for you to view information
        and documents (collectively, “Materials”) and message boards (“Forums”), and make purchases of our products and services.
        Please note that you must be at least 18 years of age to use the Services on this Site. If you breach any of the
        Terms in these Terms of Service (“Terms”), your authorization to use this Site or these Services automatically terminates.
        We may revise these Terms of Service at any time and you agree to be bound by the revised Terms. Any modification
        will become effective when it is first messaged to the site. You are responsible to return to the Terms of Service
        from time to time to review the most current terms and conditions. We may notify you by either messaging a new version
        of this Term of Service, notifying visitors on the website that a new version has been messaged. The Veta Health
        platform is not intended to diagnose, treat or prevent illness or ailments. Please seek the advice of your physician
        or qualified health provider with any questions you may have regarding a medical condition or treatment options.
        If you are experiencing a medical emergency, please dial 911.
      </p>
      <p>
      <b>Registration Requirements</b>.
      In order to view messages on the Veta Health message boards or Forums without user restrictions, registration is. In
        order to message messages on Forums or boards, view boards with level restrictions, and use other advanced services,
        you must register with Veta Health using a valid email address. Visitors thirteen years of age or older who agree
        to the Terms of Service may register and message content to the site. You agree that the information you supply will
        be accurate and that you will not supply the email address of, or register under the name of, another person. We
        reserve the right to reject any username we deem offensive or inappropriate. Users may not register as a business
        name.
      </p>

      <p>
      <b>Account Responsibility</b>
      Users are solely responsible for protecting their accounts from access by others. You are strongly encouraged to select
        a hard-to-guess password and not re-use that password on any other sites where it may be read by the owners or administrators
        of that site. While it is possible for users to maintain multiple accounts, Veta Health may track multiple accounts
        from a single or multiple computers as one account in terms of TOS violations. If the TOS is violated severely enough
        to warrant the banning of one account, all known accounts shared between a single or multiple users who use the same
        computer may also be banned for the actions of the violating account at the administrators’ discretion. Because of
        this rule, it is highly recommended that board users do not share their accounts with others, nor share their computers
        used to access the site with others, as the actions of some other person could easily directly impact all known shared
        message board accounts. Should a user be temporary blocked from the site based on violations of the Terms, we ask
        that they comply with the banned period. Permanent bans will result in users “hacking” their way onto the site using
        Proxy IP addresses.
      </p>
      <p>
      <b>Privacy and Release of Information</b>.
      Under normal circumstances, Veta Health will never release your provided information to any third party without your
        consent. However, in cases of Terms violations or illegal activities, we reserve the right to forward any and all
        known information about you and your accounts to your ISP (including libraries, schools, and places of employment),
        email service provider, your ISP account owner (if someone else is actually paying for it), and any parties whose
        copyright has clearly been infringed by your actions on the boards, or requests from law enforcement authorities.
        All of the information that we collect from you, such as registration and credit card information, is subject to
        our privacy policy. Please <a href="https://myvetahealth.com/privacy-policy/" target="_blank" class="footerlink">click here</a> to see our full
        Privacy Policy.</p>
      
      <p>
      <b>Health Content and Usage</b>.
       Our Site contains educational information concerning health care and allows the user to access and upload his or her
        health data or data provided by his or her physician. Unless provided directly by your treating physician, any health
        information provided by the Site is for educational use only and is not a substitute for professional medical advice,
        diagnosis, or treatment. Seek the advice of your physician or qualified health provider with any questions you may
        have regarding a medical condition or treatment options. Never disregard, avoid, or delay in obtaining medical advice
        from your doctor or other healthcare professional because of something you have read on our Site. We do not represent
        or warrant that information or other Content is complete, accurate, current, reliable, or error-free. You acknowledge
        that any reliance upon any advice, opinion, statement, or other information displayed or distributed through the
        Site, including User Materials, is at your sole risk. You acknowledge and agree that we are not responsible for any
        Materials messaged by Users. Medical information is a highly private topic. Various laws have been enacted at the
        federal and local level seeking to protect the right to privacy of patient information. These laws include HIPAA
        and the HITECH Act. By messaging or providing any information:
      </p>
      <ul class="font-bold">
        
          <li>You agree that you are voluntarily providing this information.</li>
          <li>You agree that the information provided pertains only to you, your minor child or an individual you are the legal guardian.</li>
          <li>You agree that you have the right to use and publish this health data.</li>
          <li>You agree that you will not message information about others as this messaging may violate Federal, State or local law. For example, messaging information regarding another individual’s HIV or AIDS related status or testing information may violate the New York HIV Confidentiality Law (PHL § 2782.1) and may subject you to criminal and/or civil penalties.</li>
          <li>You remain responsible for any material or data you message.</li>
      
      </ul>

      <b>Member Conduct.</b> You agree that you will not use these sites to perform the following actions: Offensive Messaging
      Messages of a patently offensive nature are not allowed. This includes, but is not limited to: Using vulgar, profane,
      or sexually explicit language Using race, religion, sexual orientation, culture, ethnicity, handicap, nationality,
      or gender as a means of insult Using sexual preference terms as a term of insult in any way, shape, or form Using threatening,
      harassing, defamatory, hate-speech, or libelous language Messaging or requesting links to or material from pornographic,
      obscene, or hate-speech websites Messaging links to websites with potentially offensive content without a clear warning
      Descriptions or details about any sexual act or sexual organs not related to medical treatment Messaging content from
      other websites Any content you place on a Veta Health site must be your original work. If it is owned by another, you
      must have authorization from the copyright owner. If you message content from another source, please include a link
      back to the original content. Please refrain from messaging private messages without a user’s permission. Private messages
      from administration messaged to threads will be removed.
      <br><br>
      Flaming (Insulting Other Users) Messages clearly insulting,<br>
      calling out, provoking or harassing other board members, individually or as a group, directly or indirectly, are not
      allowed. This includes, but is not limited to: Name-calling (“You’re an idiot”, “You moron”) Direct insults (“Screw
      you”) Offensive orders (“Go kill yourself”) Insinuations (“Are you stupid or something?”) or insults towards family
      (“Your mom…”) 
      <br><br>
      Trolling (Inciting Flames) <br> Messages intended solely to annoy and/or offend others by going against
      the clear nature of a board or topic are not allowed. This includes, but is not limited to: 
      <br><br>
      Provoking other users to
      respond with flames <br> Constant bickering/arguing <br> Making misleading topic titles <br> Asking obviously useless
      questions <br> Messaging false information as fact <br><br>
       Illegal Activities<br>
      <p>
        Messages that violate or incite others to violate the law are not allowed. This includes, but is not limited to, asking for
        or providing, in any way, shape, or form:</p>

      Illegal copies of copyrighted software<br>
      <p>
        Methods of circumventing copyright protection (Cracks, No-CD Patches, CD Keys, mod chips) Illegal copies of copyrighted music
        (MP3s), movies, videos, or any other type of media Reprints of material from other websites (pay or free)
      </p>

      Advertising<br>
      <p>
        Messages that clearly advertise a service or product are not allowed. This includes, but is not limited to:
      </p>
      Unsolicited commercial or personal website advertisements<br> For-Sale/For-Trade/For-Auction/Wanted notices<br> “Make
      Money Fast” scams, chain letters, and pyramid schemes<br> Users are allowed to include a website address in a signature,
      request comments on their personal site in a social setting, or provide interesting or relevant links to another site.<br>
      <br>
      Disruptive Messaging<br>
      
        Messages that disrupt other users or professionals, intentional or not, are prohibited. This includes, but is not limited,
        to:
        <br><br>
      
      Messages or topic titles that force browsers to scroll horizontally<br> Large blank or content-free messages<br> Messaging
      multiple identical or near-identical messages or topics<br> Intentionally hard-to-read topic titles (i.e. ALL CAPS,
      AlTeRnAtE cApS, no spaces, no or excessive punctuation, 1337 speak, et cetera)<br> Messaging large ASCII art (except
      in social topics specifically calling for it) 
      <br><br>
      Impersonation
      <br>
      <p>Users may be immediately banned (along with any associated accounts) for impersonating other users or professionals
        by creating and/or using a message board account with a name clearly intended to impersonate, mock, or antagonize
        another user, or otherwise falsely claiming to be another message board member.
      </p><br>
      Harassment/Stalking/Privacy<br>
      <p>
        Continual harassing behavior directed towards a certain individual with the intent of creating an intimidating, offensive,
        or hostile environment on the boards, with or without use of explicit or implicit threats is strictly prohibited.
        Messaging private information without permission is also prohibited. Continued messages of this nature will result
        in suspension.
      </p><br>
      Unauthorized Access<br>
      <p>
        Accessing or attempting to access any Veta Health user account not belonging to the user in question without permission is
        prohibited. Accessing another user’s account in this manner is grounds for immediate loss of all known accounts.
      </p><br>

      Bugs and Exploits<br>
      <p>
        Using exploits or tricks in the Veta Health code to gain privileges, access, or abilities not clearly intended by the board
        design is prohibited. Making exploits public or using them for personal benefit is grounds for immediate loss of
        all known accounts.
      </p><br>

      Other<br>
      <p>
        Any other activity that is clearly detrimental to the flow of conversation and normal activities of users and professionals
        may also be deleted.
      </p><br>
      <b>Content</b><br>
      <p>
        Ownership Our sites include a combination of content that we create, that our partners create, and that our users create.
        All materials published by Veta Health on our sites, including, but not limited to written content, photographs,
        graphics, images, illustrations, marks, logos, sound or video clips, and Flash animation, are protected by our copyrights
        and trademarks or those of our partners. You may not modify, publish, transmit, participate in the transfer or sale
        of, reproduce, create derivative works of, distribute, publicly perform, publicly display, or in any way exploit
        any of the materials or content on our sites in whole or in part. If you would like to request permission to use
        any of the content on our sites, please send an email to
      
      <a href="mailto:admin@myvetahealth.com" class="footerlink">admin@myvetahealth.com</a>.
   
        The sites are protected by copyright as a collective work or compilation under the copyright laws of the United States and
        other countries. All individual articles, content and other elements comprising these sites are also copyrighted
        works.
      </p>
      <br>
      <p>By generating content to the site, you automatically grant the right to Veta Health to use, copy, modify, adapt or
        publish the content that you message, including for purposes of advertising and publicity on the sites and elsewhere
        Veta Health is under no obligation to pay you for your messaging. By your messaging, you receive consideration in
        terms of the publication of your message and the goodwill surrounding your content.
      </p>
      <br><br>
      <p>You are solely responsible for all materials, whether publicly messaged or privately transmitted, that you upload,
        message, e-mail, transmit, or otherwise make available on our sites (“Your Content”). You certify that you own all
        intellectual property rights in Your Content. You hereby grant us, our affiliates, and our partners a worldwide,
        irrevocable, royalty-free, nonexclusive, sublicensable license to use, reproduce, create derivative works of, distribute,
        publicly perform, publicly display, transfer, transmit, distribute, and publish Your Content and subsequent versions
        of Your Content for the purposes of (i) displaying Your Content on our Sites, (ii) distributing Your Content either
        electronically or via other media, to users seeking to download or otherwise acquiring it, and/or (iii) storing Your
        Content in a remote database accessible by end users, for a charge. This license shall apply to the distribution
        and the storage of Your Content in any form, medium, or technology now known or later developed, including print
        publication.
      </p><br>
      Accuracy
      <br>
      <p>
        Our site contains content that we create as well as content provided by third parties. We do not guarantee the accuracy,
        the integrity, or the quality of the content on our sites, and you may not rely on any of this content. Without limitation,
        we are not responsible for messaging by Users in the message sections of our sites.
      </p>
      
      <p>
        By viewing the site content, you agree that all content on the Veta Health messages is the responsibility of the person from
        which the content originated. You agree that neither Veta Health nor its sponsors or affiliates are responsible for
        all content that you personally enter. Veta Health does not control any content messaged on the boards, and does
        not guarantee the truthfulness or quality of any content. You agree that while using the Veta Health message boards,
        you may be exposed to content that is offensive or objectionable, and that you will in no way hold Veta Health nor
        its sponsors or affiliates liable in any way, shape, or form for any harm or loss that may come to you or others
        as a result of viewing this content.
      </p><br>
      Offensive Content<br>
      
        You may be exposed to content that you find offensive, indecent or objectionable or that is inaccurate, and you bear all
        risks associated with using that content. We have the right, but not the obligation, to remove any content that may,
        in our sole discretion, violate these Terms or that is otherwise objectionable.<br>
      
      Veta Health is not responsible for screening content before it is messaged.
      <br><br>
      <p>
      <b>Site Security and Conduct.</b>
      Any Material we upload to this Site will be accessible to all users of the Site (“Users”). We have incorporated all
        reasonable and commercially available measures to protect the Site from unauthorized access. Any unauthorized commercial
        use of the Service is expressly prohibited. You agree to comply with all applicable local, state, national, and international
        laws and regulations and are solely responsible for all acts or omissions that occur under your user ID or password.
        You must protect the confidentiality of your password, and you should change your password periodically. You are
        also responsible for the acts or omissions of any individual to whom you grant access—either intentionally or unintentionally—by
        sharing your user ID or password. Further, by way of example and not as a limitation, you agree not to:
      </p>
      <b>1. use the Service in connection with chain letters, junk e-mail, spamming or any duplicative or unsolicited messages (commercial or otherwise);</b><br><br>
      <b>2. harvest or otherwise collect information about others, including e-mail addresses, without their consent;</b><br><br>
      <b>3. create a false identity or forged e-transmit any material that contains viruses, Trojan horses, worms, trap doors, back doors, Easter eggs, time bombs, cancelbots, netbots, or any other harmful or deleterious programs or scripts;mail address or header, or otherwise attempt to mislead others as to the identity of the sender or the origin of the message;</b><br><br>
      <b>4. transmit through the Service any Materials that are unlawful, harassing, libelous, abusive, threatening, harmful, vulgar, obscene, or otherwise objectionable material of any kind or nature;</b><br><br>
      <b>5. transmit any material that contains viruses, Trojan horses, worms, trap doors, back doors, Easter eggs, time bombs, cancelbots, netbots, or any other harmful or deleterious programs or scripts;</b><br><br>
      <b>6. violate any U.S. law regarding the transmission of technical data or software exported from the United States through the Service;</b><br><br>
      <b>7. interfere with or disrupt networks connected to the Service or violate the regulations, policies or procedures of such networks;</b><br><br>
      <b>8. attempt to gain unauthorized access to the Service, other accounts, computer systems or networks connected to the Service, through password mining or any other means; or</b><br><br>
      <b>9. interfere with another User’s use and enjoyment of the Service.</b><br><br>

      <p><b>System and Network Security.</b>
      Violations of system or network security are prohibited, and may result in criminal and civil liability. We will investigate
        incidents involving such violations and may involve and will cooperate with law enforcement if a criminal violation
        is suspected. You must take reasonable security precautions in light of your use of the Service. You are solely responsible
        for any breaches of security.
      </p><br>
      <p><b>Intellectual Property Rights.</b>
      The Service and this Site are protected to the maximum extent permitted by copyright and trademark laws and international
        treaties. The Content of this Site, and related pages, is copyrighted property of Veta Health or other suppliers
        credited as the provider. You may not decompile or disassemble, reverse engineer or otherwise attempt to discover
        any source code contained in the Service. Without limiting the foregoing, you agree not to reproduce, duplicate,
        copy, sell, resell, or exploit for any commercial purposes, any aspect of the Site or the Service.</p>
        <br>
       <p><b>Notification of Claims of Infringement.</b>
      If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual
        property rights have been otherwise violated, please notify our agent for notice of claims of copyright or other
        intellectual property infringement at: 
      <a href="mailto:admin@myvetahealth.com" class="footerlink">admin@myvetahealth.com
        </a>.</p><br>
      <p>Please provide the following information:</p>
      <br>
      <b>
      1.Identify the material on the Site that you claim is infringing in sufficient detail so that we can find it;
      <br><br>
      2.Include the specific statement that you have a good faith belief that the disputed use you have identified is not authorized by the copyright owner, its agent, or the law;
      <br><br>
      3.Include the specific statement in which you declare, under penalty of perjury, that (a) the information you have provided is accurate, and (b) that you are the owner of the copyright interest involved or that you are authorized to act on behalf of that owner;
      <br><br>
      4.Your address, telephone number, and email address; and
      <br><br>
      5.Your physical or electronic signature.
    </b>
      <br>
      <br>
      <p>We will remove the infringing content according to the procedures outlined in the Digital Millennium Copyright Act
        of 1998.
      </p>
      <br>
      <p>
      <b>Representations.</b>
      You represent and warrant that you will not hold us responsible for the quality, safety, or accuracy of the Materials
        on the Site. We provide no warranty or guarantee regarding the accuracy, timeliness, performance, completeness or
        suitability of the information and materials found or offered on this website for any purposes. You acknowledge that
        such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such
        inaccuracies or errors to the fullest extent permitted by law. If you are aware of any relevant errors, inaccuracies,
        or discrepancies, including pricing discrepancies please alert us at
      <a href="mailto:admin@myvetahealth.com" class="footerlink">admin@myvetahealth.com</a>.</p>
      <br>
      
      <p>
        <b>Disclaimer of Warranty. </b>
        ALL EXPRESS AND IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
        PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS ARE EXPRESSLY DISCLAIMED TO THE FULLEST EXTENT PERMITTED
        BY LAW. TO THE FULLEST EXTENT PERMITTED BY LAW, COMPANY DISCLAIMS ANY WARRANTIES: (i) FOR THE SECURITY, RELIABILITY,
        TIMELINESS, ACCURACY, AND PERFORMANCE OF THE SITE AND THE SERVICE; (ii) FOR OTHER SERVICES OR GOODS RECEIVED THROUGH
        OR ADVERTISED ON THE COMPANY SITE OR THE SITES OR SERVICE, OR ACCESSED THROUGH ANY LINKS ON THE SITE; OR (iii) FOR
        VIRUSES OR OTHER HARMFUL COMPONENTS IN CONNECTION WITH THE SITE OR THE SERVICE. YOU USE ANY INFORMATION OR MATERIALS
        ON THIS WEBSITE ENTIRELY AT YOUR OWN RISK. IT IS YOUR RESPONSIBILITY TO ENSURE THAT ANY PRODUCTS, SERVICES, OR INFORMATION
        AVAILABLE THROUGH THIS WEBSITE MEET YOUR SPECIFIC REQUIREMENTS.
      </p><br>
      
      <p><b>Links to Other Websites.</b>The Site may contain links and pointers to other websites that are maintained by third parties. Such links do not mean
        that we endorse these third-party sites or any materials they contain. Of course we do not control, and thus are
        not responsible for, the availability, accuracy, privacy policy, or currency of such third-party sites or any information,
        content, products or services accessible from such third-party sites.
      </p><br>
      
      <p><b>Indemnity.</b>You agree to indemnify and hold us, our officers, subsidiaries, affiliates, successors, assigns, directors, officers,
        agents, service providers, suppliers and employees, harmless from any claim or demand, including reasonable attorney
        fees and court costs, made by any third party due to or arising out of Materials you submit, message or make available
        through the Service, your use of the Service, your violation of the Terms, your breach of any of the representations
        and warranties in these Terms, or your violation of any rights of another person or entity.
      </p>
      <br>
      
      <p><b>Governing Law.</b>You further consent that this Agreement is governed by and shall be construed in accordance with the laws of the State
        of Florida, U.S.A. without reference to its conflicts of law provisions. The United Nations Convention on Contracts
        for the International Sale of Goods shall not apply to this Agreement. You agree to submit to the personal and exclusive
        jurisdiction of the state and federal courts located in Florida for any disputes arising out the use of this site
      </p>
      <p>This Agreement constitutes the entire agreement between the parties with respect to the subject matter that it describes.
        This Agreement supersedes all prior proposals, negotiations, conversations, discussions and agreements between the
        parties concerning the information it covers.
      </p>
      <br>
      <p>If, for any reason, a court of competent jurisdiction finds any provision or part of a provision of this Agreement
        unenforceable, that provision shall be enforced to the maximum extent permissible so as to affect the intent of this
        Agreement. Any remaining provisions of the Agreement will continue to be enforced with full effect.
      </p>
      <br>
      
      <p><b>Limitation of Liability.</b>UNDER NO CIRCUMSTANCES ARE WE LIABLE FOR DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES
        (EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM ANY ASPECT OF YOUR USE OF THE SITE
        OR THE SERVICE, WHETHER THE DAMAGES ARISE FROM USE OR MISUSE OF THE SITE OR THE SERVICE, FROM INABILITY TO USE THE
        SITE OR THE SERVICE, OR THE INTERRUPTION, SUSPENSION, MODIFICATION, ALTERATION, OR TERMINATION OF THE SITE OR THE
        SERVICE. SUCH LIMITATION SHALL ALSO APPLY WITH RESPECT TO DAMAGES INCURRED BY REASON OF OTHER SERVICES OR PRODUCTS
        RECEIVED THROUGH OR ADVERTISED IN CONNECTION WITH THE OUR SITE OR THE SERVICE OR ANY LINKS ON THE SITE, AS WELL AS
        BY REASON OF ANY INFORMATION OR ADVICE RECEIVED THROUGH OR ADVERTISED IN CONNECTION WITH THE SITE OR THE SERVICE
        OR ANY LINKS ON THE SITE. THESE LIMITATIONS SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW. In some jurisdictions,
        limitations of liability are not permitted and some of the foregoing limitations may not apply to you.
      </p>
      <br>
      
      <p><b>Consequences of Violation of Terms.</b>We may, without notice to you, suspend your Service or remove any Materials transmitted via the Site if we discover
        facts that lead us to reasonably believe the Site service is being used in violation of these Terms. You agree to
        cooperate with our reasonable investigation of any suspected violation of these Terms. We may attempt to contact
        you prior to your suspension; however, prior notification is not assured.
      </p>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-white btn-w-s" (click)="closeTnCModal()">Close</button>
    </div>
  </div>
</div>