.lable-diagnosis{
    display: inline-block;
    text-align: left;
    white-space: inherit;
    vertical-align: baseline;
    border-radius: .30em;
    font-size: 10px;
    font-weight: 600;
    padding: 2px 6px;
    text-shadow: none;
    border:1px solid #A7B1C2;
    background: #fff;
    color:#666;
    text-transform: uppercase;
    margin-bottom: 4px;
    margin-right:5px;
    word-wrap:break-word;
    word-break:break-word;
}