



.row.assessment-detail-qa .wrong-answer{
    color:#D9002F ; 
}

.row.assessment-detail-qa .correct-answer{
    color:#00B296; 
}

.row.assessment-detail-qa{
    padding-left: 20px;
    padding-bottom: 20px;
}

.assessment-quest{
    margin-bottom: 25px;
}